@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?4yp113');
	src:url('fonts/icomoon.eot?4yp113#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf?4yp113') format('truetype'),
		url('fonts/icomoon.woff?4yp113') format('woff'),
		url('fonts/icomoon.svg?4yp113#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-18:before {
	content: "\e900";
}
.icon-17:before {
	content: "\e901";
}
.icon-16:before {
	content: "\e902";
}
.icon-15:before {
	content: "\e903";
}
.icon-14:before {
	content: "\e904";
}
.icon-13:before {
	content: "\e905";
}
.icon-12:before {
	content: "\e906";
}
.icon-11:before {
	content: "\e907";
}
.icon-10:before {
	content: "\e908";
}
.icon-9:before {
	content: "\e909";
}
.icon-8:before {
	content: "\e90a";
}
.icon-7:before {
	content: "\e90b";
}
.icon-6:before {
	content: "\e90c";
}
.icon-5:before {
	content: "\e90d";
}
.icon-4:before {
	content: "\e90e";
}
.icon-3:before {
	content: "\e90f";
}
.icon-2:before {
	content: "\e910";
}
.icon-1:before {
	content: "\e911";
}
.icon-telefono:before {
	content: "\e942";
}
.icon-ubica:before {
	content: "\e947";
}
.icon-maps:before {
	content: "\e949";
}
.icon-map2:before {
	content: "\e94b";
}
.icon-globo:before {
	content: "\e96b";
}
.icon-menu:before {
	content: "\e9bd";
}
.icon-nube:before {
	content: "\e9c1";
}
.icon-planeta:before {
	content: "\e9ca";
}
.icon-arriba:before {
	content: "\ea41";
}
.icon-abajo:before {
	content: "\ea43";
}
.icon-compartir:before {
	content: "\ea82";
}
.icon-correo:before {
	content: "\ea85";
}
.icon-google:before {
	content: "\ea89";
}
.icon-facebook:before {
	content: "\ea8c";
}
.icon-facebook2:before {
	content: "\ea8d";
}
.icon-instagram:before {
	content: "\ea90";
}
.icon-twitter:before {
	content: "\ea91";
}
.icon-twitter2:before {
	content: "\ea92";
}
.icon-feed:before {
	content: "\ea94";
}
.icon-feed2:before {
	content: "\ea95";
}
.icon-youtube1:before {
	content: "\ea97";
}
.icon-youtube2:before {
	content: "\ea98";
}
.icon-youtube3:before {
	content: "\ea99";
}
.icon-linkedin:before {
	content: "\eac8";
}
.icon-linkedin2:before {
	content: "\eac9";
}

